.button-login {
  background: linear-gradient(-35deg, #03d773, #00f7cf) ! important;
}

.button-login:hover {
  background: linear-gradient(-35deg, #03d773, #0ad4b3) ! important;
}

.button-login:active {
  background: linear-gradient(-35deg, #08c56d, #09b396) ! important;
}


button:disabled , button [ disabled ] {
  background-color: #08c56d ! important;
  border: 1px solid #999 ! important;
}
